canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 801px;
}

#container {
    margin-top: 50px;
    text-align: center;
}

button {
    margin: 30px;
}

* {
    color: white;
    background-color: black;
}

/* github corner style and animiation */
.github-corner {
    fill: #64CEAA;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
}

.github-corner .octo {
    fill: black;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}
